@use './variables' as vars;
@use './typography' as typography;

/* Сброс и базовые стили */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family-primary;
  line-height: vars.$line-height;
  background-color: vars.$background-color;
  color: vars.$primary-color;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Применение классов для типографики */
h1 {
  @include typography.text-h1;
}

p {
  @include typography.text-base;
}

.bold-text {
  @include typography.text-bold;
}

.italic-text {
  @include typography.text-italic;
}

.center-text {
  @include typography.text-center;
}

.primary-text {
  @include typography.text-primary;
}

/* Плавные переходы */
* {
  transition: all 0.3s ease;
}
