/* Card.scss */
@use '../../../scss/variables' as vars;

.card {
  padding: vars.$space-md;
  background-color: vars.$secondary-color;
  border-radius: vars.$space-xs;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  font-family: vars.$font-family-primary;

  &.card-login {
    border: 1px solid vars.$primary-color;
  }

  &.card-secondary {
    border: 1px solid vars.$secondary-color;
  }
}
